.user-summary {
    display: flex;
    align-items: center;

    form {
        margin: 0;
    }
}

.remove-friend button {
    @extend .btn-primary;

    #text-added {
        display: block;
    }

    #text-remove {
        display: none;
    }

    &:hover {
        @extend .btn-danger:hover;

        #text-added {
            display: none;
        }

        #text-remove {
            display: block;
        }
    }
}

.username {
    font-size: 140%;
    width: 15em;

    a {
        color: black;
    }
}

.inner-button {
    width: 4em;
}
